[Desktop Entry]
Name=Android
Comment=Google Android SDK
Exec=android
Icon=android-icon
Terminal=false
Type=Application
Categories=Application;Development;
